*{
    // /* Border for developing */
    // border-style: solid;
    // border-width: 1px;
    // border-color: rgb(0, 80, 252);
}


.c-box{
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 5rem auto 0 auto;
    width: 100%;
    height: 13rem;
    
    &__cates{
        display: none;
    }

    &__cates > img{
        max-height: 6rem;
        height: auto;
        margin-bottom: .2rem;
    }

    &__text{
        display: none;
    }
}

.c-color-filter {
    left: 0;
    position: absolute;
    width: 99.9%;
    height: 100%;
    // mix-blend-mode: screen;
    z-index: 999;
    transition: 1s;

    &__green{
        background-color: #216739;
        // background-blend-mode: multiply;
    }

    &__blue{
        background-color: #2D363F;
        // background-blend-mode: multiply;
    }
}

.page1 {
    margin: 0 auto;
}

.c-indicator{
    position: absolute;
    top: 50%;
    left: 90%;
}

.c-box__image {   

    &--general{
        position: absolute;
        width: 100%;
        height: 100%;
        filter: grayscale(100%) contrast(75%);
        background-position: center;  
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: screen;
        transition: 1s
    }
    &--tripple{
        background-image: url('../images/tripple_cover.png');   
    }
    &--gs1{
        background-image: url('../images/gs1_cover.png');   
    }
    &--eoko{
        background-image: url('../images/eoko_cover.jpg');      
    }
    &--busbuddy{
        background-image: url('../images/busbuddy_cover.png');      
    }
    &--schmearit{
        background-image: url('../images/schmearit_cover.png');      
    }
}

.page2 {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 13rem;
}

.c-box__exp {
    visibility: visible;
    position: relative;
    display: block;
}
.c-h1{
    &__tripple{
        color: #3C7B7D; 
    }
    &__gs1{
        color: #002C6C;
    }
    &__eoko{
        color: #F87C1C; 
    }
    &__busbuddy{
        color: #2a64be;
    }
    &__schmearit{
        color: #EC5A2F;
    }
}

.c-h3{
    color: #97989D;
}

.js-is-hovered{
     .c-color-filter{
        background: none;
    }
    
     .c-box__image--general{
        filter: none;
    }


    ~ .c-box__text{
        animation-name: fadeInLeft;
        animation-duration: .6s;
        animation-delay: .2s;
        animation-fill-mode: forwards;  
    }

    ~ .c-box__cates{
        animation-name: fadeInRight;
        animation-duration: .6s;
        animation-delay: .2s;
        animation-fill-mode: forwards;  
    }
}

.js-is-nohovered{

    ~ .c-box__text{
        animation-name: fadeInLeftR;
        animation-duration: .3s;
        animation-fill-mode: forwards;  
    }

    ~ .c-box__cates{
        animation-name: fadeInRightR;
        animation-duration: .3s;
        animation-fill-mode: forwards;  
    }
}

// .c-box__cates > img{
//     max-height: 10rem;
// }

.c-cate{
    margin: 1rem .3rem;
    padding: 8px;
    border-style: solid;
    border-width: 2px;
    text-transform: uppercase;

    &--tripple{
        border-color: #3C7B7D;
    }
    &--gs1{
        border-color: #002C6C;
    }
    &--eoko{
        border-color: #F87C1C;
    }
    &--busbuddy{
        border-color: #2a64be;
    }
    &--schmearit{
        border-color: #EC5A2F;
    }
       
    &_button{
        // width: 7.3rem;
        padding: .5rem 1rem;
        color: white;
        text-align: center;
    }

    &_button--tripple{
        background-color: #3C7B7D;
    }
    &_button--gs1{
        background-color: #002C6C;
    }
    &_button--eoko{
        background-color: #F87C1C;
    }

    &_button--busbuddy{
        background-color: #2a64be;
    }
    &_button--schmearit{
        background-color: #EC5A2F;
    }
}
 // ANIMATIONS

 @keyframes fadeInRight{
    from{
        visibility: hidden;
       display: none;
       opacity: 0;
       right: 4rem;

    }
    to {
        visibility: visible;
        opacity: 1;
        right: 3rem;
    }
}

@keyframes fadeInLeft{
   from{
       visibility: hidden;
       opacity: 0;
       left: 4rem;

   }
   to {
       visibility: visible;
       opacity: 1;
       left: 3rem;
   }
}

@keyframes fadeInRightR{
    from{
        visibility: visible;
        opacity: 1;
        right: 3rem;
    }
    to {
        visibility: hidden;
        display: none;
        opacity: 0;
        right: 4rem;
    }
}

@keyframes fadeInLeftR{
   from{
        visibility: visible;
        opacity: 1;
        left: 3rem;
   }
   to {
       visibility: hidden;
       opacity: 0;
       left: 4rem;
   }
}


@media screen and (min-width: 720px){
    #intro{
        height: 21rem;
        width: 65%;
    }
    .c-box{
        width: 65%;
    }
}



@media screen and (min-width: 1080px){
    #intro{
        width: 85%;
        height: 22rem;
    }

    .c-box{
        height: 15rem;
    }

    .page1{
        width: 45%;
        position: relative;
    }

    .c-box{
        width: 95%;

    
        &__cates{
            display: block;
            visibility: hidden;
            position: absolute;
            right: 0;
            width: 20%;
        }
    
        &__text{
            display: block;
            text-align: right;
            visibility: hidden;
            position: absolute;
            left: 3rem;    
            width: 20%;
            line-height: 1.5;
        }
    }

    .page2{
        display: none;
    }
    
}
